---
name: EdenPacketARM
on:  # yamllint disable-line rule:truthy
  push:
    branches: [packet-workflow]
# yamllint disable rule:line-length
jobs:
  integration:
    runs-on: ubuntu-20.04
    strategy:
      fail-fast: false
      matrix:
        conf: [ "c2.large.arm" ]
        hv: ["kvm"]
    steps:
      - name: Setup packages
        run: |
          sudo rm -rf /etc/apt/sources.list.d/microsoft-prod.list /etc/apt/sources.list.d/microsoft-prod.list.save
          sudo add-apt-repository ppa:longsleep/golang-backports
          sudo apt install -y golang-1.16 jq expect
      - name: get eden
        uses: actions/checkout@v2
      - name: Create ssh key
        run: |
          mkdir -p ~/.ssh/
          echo "$SSH_PRIVATE_KEY" > ${{ github.workspace }}/../private.key
          sudo chmod 600 ${{ github.workspace }}/../private.key
          eval `ssh-agent -s`
          ./shell-scripts/packet/ssh-add.sh "$SSH_KEY_PATH" "$SSH_PASSPHRASE"
        env:
          SSH_PRIVATE_KEY: ${{secrets.PACKET_SSH_KEY}}
          SSH_PASSPHRASE: ${{secrets.PACKET_SSH_PASSPHRASE}}
          SSH_KEY_PATH: ${{ github.workspace }}/../private.key
      - name: Deploy and setup eden on packet
        run: |
          ssh root@147.75.55.170 'uname -a'